<div class="jumbotron center">
<h1>The largest virtual Q+A service for Students and Teachers to exchange knowledge on the Internet</h1>
<p>
<%= link_to "Log in", "#", class: "btn btn-default btn-lg"%>
<%= link_to "Sign up", "#", class: "btn btn-success btn-lg"%>
</p>
</div>