<div class="jumbotron center">
<h1>The largest virtual Q+A service for Students and Teachers to exchange knowledge on the Internet</h1>
<% if user_signed_in? %>
Welcome to the insider's club! 
<% else %>
<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg"%>
</p>
<% end %>
</div>